<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRevaShareDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ec2-34-193-194-23.compute-1.amazonaws.com/TeamDB-RevaShare/RevaShareDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRevaShareDataService"
                contract="RevaShareServiceReference.IRevaShareDataService"
                name="BasicHttpBinding_IRevaShareDataService" />
        </client>
    </system.serviceModel>
</configuration>